.min-height-100percent {
  min-height: 100vh;
}
.nav-link {
  color: #fff;
}
.max-content {
  width: 15rem
}
button.dark {
  color: rgb(48, 141, 196);
}
.card-tutor-info {
  margin-top: 5%;
  margin-left: 15%;
  width: 90%;
  height: 90%;
  border-radius: 20px;
}
.position-abs{
  position: absolute;
}

.list-checkin {
  top: 0px;
  left: 51.5%;
}